* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
a.title2:link, a.title2:visited {
	text-decoration: none;
	color: white;
	background-color: #8C3836;
	font-family: "AR CHRISTY";
	text-align: center;
	height: 100px;
	display: block;
	margin: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 2px solid salmon;
	font-size: 150%;
	position: relative;
	left: 60%;
	width: 40%;
}
a.title2:hover, a.title2:active {
	text-decoration: none;
	color: #3E980A;
}

@media (min-width: 1200px) { 
	h1 {
	position: relative;
	bottom: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	a.title2:link, a.title2:visited {
		font-size: 130%;
		height: 100px;
	}
	h1 {
		position: relative;
		bottom: 5px;
	}
}
@media (min-width: 761px) and (max-width: 991px) {
	a.title2:link, a.title2:visited {
		font-size: 110%;
		height: 90px;
	}
	h1 {
		position: relative;
		bottom: 5px;
	}
}
@media (min-width: 401px) and (max-width: 760px) {
	a.title2:link, a.title2:visited {
		font-size: 90%;
		height: 70px;
	}
	h1 {
		position: relative;
		bottom: 5px;
	}
}
@media (max-width: 400px) {
	a.title2:link, a.title2:visited {
		font-size: 80%;
		height: 50px;
	}
	h1 {
		position: relative;
		font-size: 130%;
	}
}