body {
	margin: 0;
}
/*.block {
	background-color: pink;
	border: 2px solid salmon;
	margin-right: auto;
	margin-left: auto;
	margin-left: 6px; 
	margin-right: 6px;
	margin-bottom: 12px;
	float: left;
}
a.block:link, a.block:visited {
	text-decoration: none;
	color: black;
}
a.block:hover, a.block:active {
	background-color: salmon;
}
.subtitle {
	font-size: 14pt;
	background-color: #44702A;
	border: 1px solid salmon;
	text-align: center;
	font-family: cursive;
	width: 120px;
	margin-left: 0;
	color: white;
}
.dummy {
	margin: 20px;
	font-size: 13pt;
	font-family: Helvetica;
}*/

/*Header Div Styles*/
#header {
	border-radius: 0;
	border: 0;
	background-color: black;
}

/*Navbar Styles*/
.navbar-brand {
	height: 150px;
}

/*Title Styles*/
#title h1 {
	font-family: "Bigelow Rules";/*?*/
	display: block;
	margin-top: 30px;
	font-size: 300%;
	padding: 2px;
}
#title a:link, #title a:visited {
	text-decoration: none;
	color: white;
}

/*Large devices*/
@media (min-width: 1200px) {
	#nav-list {
		position: relative;
		top: 100px;
	}
}
/*Medium devices*/
@media (min-width: 992px) and (max-width: 1199px){

}
/*Small devices*/
@media (min-width: 768px) and (max-width: 991px) {
	#title h1 {
		margin-top: 20px;
	}
	.navbar-brand {
		height: 120px;
	}
}

/*Buttons*/
#nav-list {
	font-family: 'Snippet', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}
#nav-list a:link, #nav-list a:visited {
	color: white;
}
#nav-list a:hover, #nav-list a:active {
	background-color: grey;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #e6e6e6;
}
#info {
	padding: 13px;
}
#drop-menu {
	background-color: black;
}
.jumbotron {
	background: url(../img/hogwarts2) no-repeat center ;
	height: 700px;
}
.jumbotron h2 {
	color: white;
	font-size: 8em;
	font-family: 'Princess Sofia', cursive;
	position: relative;
	top: 40px;
}
footer {
	background-color: #222;
	padding: 0;
	margin: 0;
	height: 100px;
}
.content {
	padding: 5px;
	color: lightgrey;
}
.content > p > a{
	text-decoration: none;
	color: white;
}