body {
	margin: 0;
}
/*.block {
	background-color: pink;
	border: 2px solid salmon;
	margin-right: auto;
	margin-left: auto;
	margin-left: 6px; 
	margin-right: 6px;
	margin-bottom: 12px;
	float: left;
}
a.title:link, a.title:visited {
	text-decoration: none;
	color: white;
	background-color: #8C3836;
	font-family: "AR CHRISTY";
	text-align: center;
	height: 100px;
	display: block;
	margin: 10px;
	border: 2px solid salmon;
	font-size: 180%;
	padding: 2px;
}
a.title:hover, a.title:active {
	text-decoration: none;
	color: #3E980A;
	font-family: "AR CHRISTY";
	text-align: center;
	height: 100px;
	display: block;
	margin: 10px;
	border: 2px solid salmon;
}
a.block:link, a.block:visited {
	text-decoration: none;
	color: black;
}
a.block:hover, a.block:active {
	background-color: salmon;
}
.subtitle {
	font-size: 14pt;
	background-color: #44702A;
	border: 1px solid salmon;
	text-align: center;
	font-family: cursive;
	width: 120px;
	margin-left: 0;
	color: white;
}
.dummy {
	margin: 20px;
	font-size: 13pt;
	font-family: Helvetica;
}*/

#header {

	border-radius: 0;
	border: 0;
}
.navbar-brand {
	height: 100px;
}
.navbar-brand h1 {
	color: salmon;
	font-family: "AR CHRISTY";/*?*/
	text-align: center;
	height: 100px;
	display: block;
	margin: 10px;
	font-size: 180%;
	padding: 2px;
}
#nav-list {
	margin-top: 15px;
}
#nav-list a {
	font-size: 1.2em;
}