body {
	margin: 0;
}
/*.block {
	background-color: pink;
	border: 2px solid salmon;
	margin-right: auto;
	margin-left: auto;
	margin-left: 6px; 
	margin-right: 6px;
	margin-bottom: 12px;
	float: left;
}
a.block:link, a.block:visited {
	text-decoration: none;
	color: black;
}
a.block:hover, a.block:active {
	background-color: salmon;
}
.subtitle {
	font-size: 14pt;
	background-color: #44702A;
	border: 1px solid salmon;
	text-align: center;
	font-family: cursive;
	width: 120px;
	margin-left: 0;
	color: white;
}
.dummy {
	margin: 20px;
	font-size: 13pt;
	font-family: Helvetica;
}*/

#header {
	border-radius: 0;
	border: 0;
	background-color: black;
}
#title h1 {
	font-family: "Bigelow Rules";/*?*/
	display: block;
	margin-top: 30px;
	font-size: 300%;
	padding: 2px;
}
.navbar-brand {
	height: 150px;
}
#title a:link, #title a:visited {
	text-decoration: none;
	color: white;
}

/*@media (min-width: 1200px) {
	#nav-list {
		position: relative;
		top: 100px;
	}
}*/
#nav-list {
	font-family: 'Snippet', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}
#nav-list a:link, #nav-list a:visited {
	color: white;
}
#nav-list a:hover, #nav-list a:active {
	background-color: grey;
}
#brand-img {
	margin: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #e6e6e6;
}
.glyphicon {
	margin: 5px;
	font-size: 1em;
}